<h1>new form</h1>

<%= form_for :author, url: "/save", method: "post" do |f| %>
    <div>
      <%= f.label :specify, style: "display: block" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>